body {
    background: #fffdfd;
    margin-left: 80px;
    margin-right: 80px;
}

header {
    margin-top: 50px;
}



h1 {
    color: red;
    font-family: fantasy
}

h2 {
    font-family: fantasy;
}

li {
    color:blue;
}

p {
    font-size: 28px;
}


footer {
    font-family: verdana;
    margin-bottom: 30px;

}


.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 300px;
}